{# src/Core/AccountingBundle/Resources/views/Transactions/gltransedit.html.twig #}
{% extends 'CoreAccountingBundle:Default:accounting.html.twig' %}

{% block title %}Accounting - Manual Journal Entries{% endblock %}

{% block navigation %}
    {{ parent() }}
{% endblock %}

{% block headtitle %}
Enter Manual Journal Entry
{% endblock %}

{% block body %}
{% for flashMessage in app.session.flashbag.get('returnMessage') %}
<div class="row">
	<div class="alert alert-info" role="alert">
        {{ flashMessage }}
    </div>
</div>
<!-- /.row -->
{% endfor %}

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Enter Manual Journal Entry
			</div>
			<!-- /.panel-heading -->
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-body">
				
			</div>
			<!-- /.panel-body -->
		</div>
	</div>
</div>
<div class="row">
	
</div>
<!-- /.row -->

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}